body{
    font:12px/1.5 arial;
}

#container{
    position: static;
    width: 960px;
    height: 32px;
    border: 2px solid black;
    margin: 0 auto;
}
.test1{
    float: left;
    border:1px solid red;
    width: 500px;
}
.test1 li{
    border:1px solid blue;
    float: left;
    position: relative;

}
.test1 li a{
    display: block;
    width:97px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.test1 li a:link,.test1 li a:visited{
    color: #f2f2f2;
}
.test1 li a:hover,.test1 li a:active{
    color: black;
    text-decoration: none;
}

.menu dl{
    display: block;
    position: relative;
    overflow: visible;
}
.menu dl dt{
    position: relative;
}
.menu dl dd{
    display: block;
    border-bottom: 1px solid pink;
    width:100px;
    height: 30px;
    top: 30px;
}
.menu dl > div {
    position: absolute;
    display: none;
    top: 100%;
}
.menu dl:hover > div {
    display: block;
}

dd a:lang("1"){
    top: 30px;
}

dd a:lang("2"){
    top: 130px;
}
dd a:lang("3"){
    top: 230px;
}
.menu:hover dd{
    display: block;
}
.menu:hover dt{
    border-bottom: 1px solid pink;
}
.menu:hover {
    border: 1px solid pink;
}

.box0{
    /*注释这行看效果*/
    position: relative;
    left: 10px;
    top:10px;
    margin-top: 120px;
    border: 1px solid pink;
    background-color: #f2f2f2;
}

.box1{
    position: relative;
    margin-top: 0px;
    left: 10px;
    top:0px;
    border: 1px solid pink;
    width: 200px;
    height: 200px;
    background-color: pink;
}
.box2{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    background-color: red;
}

.box3{
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    background-color: orange;
}
.boox0 {
    display: flex;
    flex-direction:row;

    justify-content: flex-start;
    align-items: stretch;

    /*align-content:flex-start;*/

    width: 500px;
    height: 500px;
    background-color: #abcdef;
}
.boox1 {
    width: 300px;
    /*height: 200px;*/
    background-color: red;
}
.boox2 {
    /*display: flex;*/
    /*margin-right: 0px;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*width: 100%;*/
    flex-grow:1;
    background-color: orange;
}
.boox11 {
    width: 100px;
    /*height: 100px;*/
    background-color: green;
}
.boox21 {
    /*display: flex;*/
    /*margin-right: 0px;*/
    width: 100px;
    /*height: 100px;*/
    background-color: blue;
}
.boox12 {
    width: 100px;
    /*height: 100px;*/
    background-color: blue;
}
.boox22 {
    /*display: flex;*/
    /*margin-right: 0px;*/
    width: 100px;
    /*height: 100px;*/
    background-color: green;
}

