.App {
  text-align: center;
  background-color: #f2f2f2;
}
.ComBg {
  width: 200px;
  background-color: antiquewhite;
}
.navbar a {
  display: inline-block;
  width: auto;
  padding: 10px;
  background: skyblue;
}
.navbar:hover {
  font-size: large;
}
.navbar a.active {
  background-color: greenyellow;
}
.navbar a.hover{
  background-color: aliceblue;
}
.navbar a:hover{
  background-color: #f2f2f2;
}
.TheG {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  color: #f00;
}
.TheG:hover{
   background-color: #0f0;
 }
div:hover{
  background-color: #0f0;
}
.TheG:active{
  background-color: blue;
}
.content{
  margin-left: 0px;
}
.reactAnim-enter{
  margin-left: -200px;
  transition-duration: 500ms;
}
.reactAnim-enter-active {
  margin-left: 0px;
}
.active{
  width: 300px;
}