
.ComBg {
    width: 200px;
    background-color: antiquewhite;
}

.reactAnim-enter{
    margin-left: -200px;
    transition-duration: 5000ms;
}
.reactAnim-enter-active {
    margin-left: 0px;
}

.reactAnim-leave{
    margin-left: 0px;
    max-height: 20px;
    overflow: hidden;
    transition-duration: 3000ms;
}
.reactAnim-leave-active {
    margin-left: -200px;
    max-height: 0px;
}